<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/DenDenMarkdownTest.php"
         cacheTokens="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         printerClass="PHPUnit_TextUI_ResultPrinter"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60"
         verbose="false">
         <testsuites>
         <testsuite name="DenDenMarkdownTest">
         <directory>tests</directory>
         </testsuite>
         <testsuite name="HarusameTest">
         <directory>tests</directory>
         </testsuite>
         <testsuite name="UtilsTest">
         <directory>tests</directory>
         </testsuite>
         </testsuites>
</phpunit>